.navContainer {
    margin: 25px;
}

.navBox {
    border: 3px solid #3c474b;
    padding: 10px;
    border-radius: 5px;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLinks {
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.headerBox {
    margin-bottom: 20px;
    border-radius: 10px;
}

.heading {
    margin-bottom: 20px;
}
.crtpic{
    height: 25px;
}
.rwimage {
    max-height: 50px;
}